// 通用渐变背景
.shadow-bg-wrapper {
  min-width: 28px;
  height: 28px;
  padding: 5px;
  border: none;
  cursor: pointer;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  transition: all 0.2s;
  &.ant-btn {
    padding: 8px;
    line-height: 20px;
    outline: none;
    border: none;
  }
  &:hover {
    background-color: var(--ant-color-fill-secondary) !important;
  }
  &.inline {
    display: inline-flex;
  }
  .anticon {
    font-size: 16px;
  }
  &.is-active {
    background-color: var(--ant-color-fill-secondary);
  }
  &.select {
    height: auto;
  }
  &.middle {
    min-width: 20px;
    width: 20px;
  }
  &.small {
    min-width: 12px;
    width: 12px;
  }
  &.disabled {
    cursor: not-allowed;
    color: var(--ant-color-disabled-text);
  }
}
// 用于一些带有背景的容器
.shadow-btn-wrapper {
  padding: 5px;
  display: flex;
  height: 28px;
  align-items: center;
  justify-content: center;
  &.is-active {
    background-color: var(--ant-color-fill-secondary);
  }
  &.small {
    padding: 5px 3px;
  }
}
// 用于一些带有背景的select
.shadow-ant-select {
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.2s;
  &:hover {
    background-color: var(--ant-color-fill-secondary);
  }
}
.ant-modal-content,
.ant-modal,
.ant-modal-header {
  border-radius: 8px !important;
}
.fullscreen {
  .ant-modal-content {
    border-radius: 0px !important;
  }
  .ant-modal-body {
    padding: 0;
  }
}
.transition-bg {
  transition: all 0.1s;
  &:hover {
    background-color: var(--ant-color-fill-secondary);
  }
}
// 气泡菜单
.bubble-menu-wrapper {
  background: white;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  padding: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
// 配置box-sizing
div,
li,
span {
  box-sizing: border-box;
}

.toolbar-popover-wrapper {
  .ant-popover-inner {
    border-radius: 4px;
    padding: 0;
  }
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ant-divider.menu-divider {
  &.ant-divider-vertical {
    height: 1em;
    border-inline-start: 1px solid rgba(5,5,5,0.1);
  }
  margin: 0 4px;
}
