.bubbleWrapper {
  .recentMenuItems {
    :global(.ant-btn) {
      background-color: var(--ant-color-fill-secondary);

      &:hover {
        background-color: var(--ant-color-fill);
      }
    }
  }
}

.menuWrapper {
  width: 260px;
  margin: 0;

  .groupMenuItem {
    .subTitle {
      margin-top: 12px;
      margin-bottom: 4px;
      line-height: 20px;
      font-size: 12px;
      color: var(--ant-color-text-secondary);
    }

    .menuItem {
      height: auto;
      margin: 5px 0;
      justify-content: flex-start;
      align-items: center;
      font-size: 14px;

      .leftIcon {
        width: 36px;
        height: 36px;
        margin-right: 10px;

        & > img {
          width: 100%;
          height: auto;
        }
      }

      :global(.anticon) {
        margin-right: 5px;
      }

      &.selected {
        background-color: var(--ant-color-fill-secondary) !important;
      }
    }
  }
}


