

.bubble-menu {
  display: flex;
  padding: 4px;
  overflow-x: auto;
  background-color: var(--ant-color-bg-container);
  border: 1px solid var(--ant-color-border);
  border-radius: 3px;
  align-items: center;
  box-shadow: var(--ant-box-shadow);
}

.bubble-memu-table-cell {
  display: flex;
  padding: 4px;
  background-color: var(--ant-color-bg-container);
  border: 1px solid var(--ant-color-border);
  border-radius: 3px;
  box-shadow: var(--ant-box-shadow);

  &.row {
    flex-direction: column;
    column-gap: 8px;
    transform: translate(0, 70%);
  }
}
// menu禁用
.menu-disabled {
  .shadow-bg-wrapper {
    cursor: not-allowed;
  }
  &.shadow-bg-wrapper {
    cursor: not-allowed;
  }
  .anticon {
    color: var(--ant-color-text-disabled) !important;
  }
  .text-wrapper {
    color: var(--ant-color-text-disabled) !important;
  }
  .under-line {
    background-color: var(--ant-color-text-disabled) !important;
  }
  // .dropdown-trigger .anticon {
  //   color: var(--ant-color-text-disabled) !important;
  // }
  // .dropdown-trigger.anticon {
  //   color: var(--ant-color-text-disabled) !important;
  // }
}
