.title-wrapper {
  position: relative;
  font-size: 2.5em;
  font-weight: bold;
  color: var(--ant-color-text-base);
  // border-bottom: 1px solid var(--ant-color-border);
  border-bottom: 1px solid var(--speed-color-border-light);
  &.readonly {
    border-bottom: none;
  }
  &::before {
    position: absolute;
    height: 0;
    color: #aaa;
    pointer-events: none;
    content: attr(data-placeholder);
  }
}
